venv/
Lib/
Scripts/
pyvenv.cfg
Moncho_MATLAB/__pycache__/R1.cpython-39.pyc
Moncho_MATLAB/__pycache__/R3.cpython-39.pyc
Moncho_MATLAB/__pycache__/R5.cpython-39.pyc
Moncho_MATLAB/__pycache__/R7.cpython-39.pyc
Rules_Py/__pycache__/R2.cpython-39.pyc
Rules_Py/__pycache__/R6.cpython-39.pyc
Rules_Py/__pycache__/Principal.cpython-39.pyc
